<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
<footer>
    <div id="footer_content">
        <div id="footer_contacts">
            <h1>Hamburgueria</h1>
            <p>Saiba o Sabor da Diferença: Onde Cada Mordida é uma Experiência Inesquecível.</p>

            <div id="footer_social_media">
                <a href="https://www.instagram.com/ivrrsouza/?hl=pt-br" class="footer-link" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://www.facebook.com/isaias.valdemir" class="footer-link" id="facebook">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>

                <a href="https://api.whatsapp.com/send/?phone=5562986255461&text&type=phone_number&app_absent=0" class="footer-link" id="whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>

        <ul class="footer-list">
            <li>
                <h3>Blog</h3>
            </li>
            <li>
                <a class="footer-link" routerLink="sobreNos" >Sobre nós</a>
            </li>
            <li>
                <a class="footer-link" routerLink="cardapio">cardapio</a>
            </li>
            <li>
                <a class="footer-link" routerLink="ajuda">Ajuda</a>
            </li>
        </ul>

        <ul class="footer-list">
            <li>
                <h3>Productos</h3>
            </li>
            <li>
                <a class="footer-link" routerLink="hamburguer">hamburgues</a>
            </li>
            <li>
                <a  class="footer-link" routerLink="bebidas">bebidas</a>
            </li>
            <li>
                <a class="footer-link" routerLink="batata">Fritas</a>
            </li>
        </ul>

        <div id="footer_subscribe">
            <h3>Inscrever-se</h3>

            <p>
                Digite seu e-mail para ser notificado sobre nossas promoções
            </p>

            <div id="input_group">
                <input type="email" id="email">
                <button>
                    <i class="fa-regular fa-envelope"></i>
                </button>
            </div>
        </div>
    </div>

    <div id="footer_copyright">
         2023 projeto angular - programação para web 1 - 4º periodo
        - sistemas de informação - IF Goiano - campus Urutaí
    </div>
</footer>