
<nav>
    <div class="logo">
      <a routerLink="home"><h1>hamburgueria</h1></a>
    </div>
    <button>&#9776;</button>
    <ul>
      <li>
        <a class="nav-link" routerLink="login"><p>Login</p></a>
      </li>
      <li>
        <a class="nav-link" routerLink="cadastroCliente"><p>Cadastro</p></a>
      </li>
      <li>
        <a class="nav-link" routerLink="selectBurg"><p>pedidos</p></a>
      </li>
      <li>
        <a href="https://isaiasiv.github.io/projetodesala.github.io/" ><p>carrinho</p></a>
      </li>
      <li>
        <a href="https://isaiasiv.github.io/index.html" ><p>historico</p></a>  
        
      </li>
    </ul>
  </nav>
