
ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}
a {
    font-family: sans-serif;
    text-decoration: none;
}
nav {
    width: auto;
    background-color: black;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}
h1, p {
    color: white;
}
nav, ul {
    display: flex;
    flex-direction: row;
}
li p {
    margin: 10px 20px; /* Adjust the value as needed */
}

li {
    padding: 0;
}
h1 {
    margin: 0;
    padding: 10px;
}
button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;

}
li:hover, h1:hover, button:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255,255,255, 0.2);
}
button:focus ~ ul {
    height: 300px;
}
@media (max-width: 700px) {
    nav, ul {
        flex-direction: column;
    }
    ul {
        text-align: center;
        margin: 0;
        height: 0;
    }
    nav {
        padding: 0;
        align-items: flex-start;
    }
    h1 {
        margin: 10px;
    }
    button {
        display: flex;
    }
    li, ul {
        width: 100%;
    }
    p {
        padding: 10px 20px;
    }
}