<div id="slider">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
    <input type="radio" name="slider" id="slide4">
    <div id="slides">
        <div id="overflow">
            <div class="inner">
                <div class="slide slide_1">
                    <div class="slide-content">
                        <img class="img" src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/promo%C3%A7%C3%A3o.jpg?raw=true" alt="Foto 01">
                    </div>
                </div>
                <div class="slide slide_2">
                    <div class="slide-content">
                        <img class="img" src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/xtudo.jpg?raw=truehttps://github.com/Isaiasiv/imagens.angular.web1/blob/main/xtudo.jpg?raw=true" alt="Foto 02">
                    </div>
                </div>
                <div class="slide slide_3">
                    <div class="slide-content">
                       <img class="img" src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/promo%C3%A7%C3%A3o%20(1).jpg?raw=true" alt="Foto 03">
                    </div>
                </div>
                <div class="slide slide_4">
                    <div class="slide-content">
                        <img class="img" src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/doishamburgue.jpg?raw=true">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="controls">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
    </div>
    <div id="bullets">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
    </div>
</div>