<div class="body_claro">
<aside>
    <!-- Conteúdo adicional, como barras laterais ou informações complementares -->
    <h2 class="h1_white text_center">Bebidas</h2>
</aside>
<br>
<div class="teste_body">
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/3709-coca-cola-zero-lata-350ml-12un.20230925125505.png?raw=true" alt="bebidas">
                refrigerante<abbr class="mostrar" title="o nas aulas passadas">R$ 3,50 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/3732-sprite-original-lata-350ml-6un.20230925125505.png?raw=true" alt="bebidas">
                refrigerante<abbr class="mostrar" title="o nas aulas passadas">R$ 3,50 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/a6ac5aca897e56330c76076dfe27462a.png?raw=true" alt="bebidas">
                refrigerante<abbr class="mostrar" title="o nas aulas passadas">R$ 3,50 </abbr>
            </span>
        </a>
    </div>
</div>
<br><br>
<div class="teste_body">
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/a6ac5aca897e56330c76076dfe27462a.png?raw=true" alt="bebidas">
                refrigerante<abbr class="mostrar" title="o nas aulas passadas">R$ 3,50 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/coca-cola-e-zero.png?raw=true" alt="bebidas">
                refrigerante<abbr class="mostrar" title="o nas aulas passadas">R$ 3,50 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/pngtree-coke-drink-glass-png-image_13271452.png?raw=true" alt="bebidas">
                refrigerante<abbr class="mostrar" title="o nas aulas passadas">R$ 3,50 </abbr>
            </span>
        </a>
    </div>
</div>
</div>
