<div class="body_claro">
<aside>
    <!-- Conteúdo adicional, como barras laterais ou informações complementares -->
    <h2 class="h1_white text_center">hambúrguer's </h2>
</aside>
<br>
<div class="teste_body">
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
            <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/cd5f8a52f77e83b984bac83a37ef3a5f2e5c4727/pngtree-juicy-burgers-with-a-transparent-background-png-image_9002761.png" alt="duplo duplo">
             Duplo duplo<abbr class="mostrar" title="dobro de carne, dobro de queijo,dobro de tomate, dobro de alface">R$ 29,90</abbr></span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/cd5f8a52f77e83b984bac83a37ef3a5f2e5c4727/pngtree-hot-cheesy-burger-isolated-on-transparent-background-png-image_9133351.png" alt="cheddar">
                mega cheddar<abbr class="mostrar" title="tripo de cheddar">R$ 24,90</abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/hamburger-with-lettuce-tomato-cheese-it_667286-3180.avif" alt="tradicional">
                tradicional<abbr class="mostrar" title="tradicional carne, tomate, queijo,Maionese,alface,">R$ 19,90</abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/03-20.webp" alt="X-bacon">
                X bacon<abbr class="mostrar" title="bacon, ovo, carne, queijo">R$ 22,90 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/4-35.webp" alt="x-frango">
                x-frango<abbr class="mostrar" title="frango,bacon,cebola,alface,queijo">saiba </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/hamburguer-de-carne-isolada-ilustracao-generativa-ai_115919-4712.avif" alt="oferta">
                oferta do Dia<abbr class="mostrar" title="o nas aulas passadas">R$ 9,99 </abbr>
            </span>
        </a>
    </div>
</div>
<br>
<div class="teste_body">
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
            <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/cd5f8a52f77e83b984bac83a37ef3a5f2e5c4727/pngtree-juicy-burgers-with-a-transparent-background-png-image_9002761.png" alt="duplo duplo">
             Duplo duplo<abbr class="mostrar" title="dobro de carne, dobro de queijo,dobro de tomate, dobro de alface">R$ 29,90</abbr></span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/cd5f8a52f77e83b984bac83a37ef3a5f2e5c4727/pngtree-hot-cheesy-burger-isolated-on-transparent-background-png-image_9133351.png" alt="cheddar">
                mega cheddar<abbr class="mostrar" title="tripo de cheddar">R$ 24,90</abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/tasty-hamburger-on-transparent-background-png.webp" alt="tradicional">
                tradicional<abbr class="mostrar" title="tradicional carne, tomate, queijo,Maionese,alface,">R$ 19,90</abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/03-20.webp" alt="X-bacon">
                X bacon<abbr class="mostrar" title="bacon, ovo, carne, queijo">R$ 22,90 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/tasty-beef-burger-png.webp" alt="x-frango">
                x-frango<abbr class="mostrar" title="frango,bacon,cebola,alface,queijo">saiba </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/hamburguer-de-carne-isolada-ilustracao-generativa-ai_115919-4712.avif" alt="oferta">
                oferta do Dia<abbr class="mostrar" title="o nas aulas passadas">R$ 9,99 </abbr>
            </span>
        </a>
    </div>
</div>
<br>
<div class="teste_body">
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
            <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/cd5f8a52f77e83b984bac83a37ef3a5f2e5c4727/pngtree-juicy-burgers-with-a-transparent-background-png-image_9002761.png" alt="duplo duplo">
             Duplo duplo<abbr class="mostrar" title="dobro de carne, dobro de queijo,dobro de tomate, dobro de alface">R$ 29,90</abbr></span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/cd5f8a52f77e83b984bac83a37ef3a5f2e5c4727/pngtree-hot-cheesy-burger-isolated-on-transparent-background-png-image_9133351.png" alt="cheddar">
                mega cheddar<abbr class="mostrar" title="tripo de cheddar">R$ 24,90</abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/hamburger-with-lettuce-tomato-cheese-it_667286-3180.avif" alt="tradicional">
                tradicional<abbr class="mostrar" title="tradicional carne, tomate, queijo,Maionese,alface,">R$ 19,90</abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/pngtree-hot-cheesy-burger-isolated-on-transparent-background-png-image_9133351.png?raw=true" alt="X-bacon">
                X bacon<abbr class="mostrar" title="bacon, ovo, carne, queijo">R$ 22,90 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/pngtree-juicy-burgers-with-a-transparent-background-png-image_9002761.png?raw=true" alt="x-frango">
                x-frango<abbr class="mostrar" title="frango,bacon,cebola,alface,queijo">saiba </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="/selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/hamburguer-de-carne-isolada-ilustracao-generativa-ai_115919-4712.avif" alt="oferta">
                oferta do Dia<abbr class="mostrar" title="o nas aulas passadas">R$ 9,99 </abbr>
            </span>
        </a>
    </div>
    
</div>
<br>
<br>
</div>
