<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="background">


    <div class="Meio corWhite ">
        <h1 class="borda_letra">PROMOÇÃO EM TODA </h1>
        <h1 class="borda_letra">LOJA</h1>
        <P class="borda_letra">Roupas, calçados, mesa e banho</P>
        <button>promoção da semana</button>
    </div><!--Meio-->
</div><!--background-->
<br>
<app-slide></app-slide>
<br>
<section>
    <h1>CATEGORIA</h1>
    <div class="Container-card-1">
        <div class="cards">
            <h3>roupas</h3>
            <a href="carrinho.html">
                <img src="https://static.mundomax.com.br/produtos/81768/150/1.webp">
            </a>
        </div><!--cards-->

        <div class="cards">
            <h3>calçados</h3>
            <a href="carrinho.html">
                <img src="https://static.mundomax.com.br/produtos/81768/150/1.webp">
            </a>
        </div><!--cards-->
    </div><!--Container-card-1-->

    <div class="Container-card-1">
        <div class="cards">
            <h3>mesa</h3>
            <a href="carrinho.html">
                <img src="https://static.mundomax.com.br/produtos/81768/150/1.webp">
            </a>
        </div><!--cards-->

        <div class="cards">
            <h3>banho</h3>
            <a href="carrinho.html">
                <img src="https://static.mundomax.com.br/produtos/82455/150/1.webp">
            </a>
        </div><!--cards-->
    </div><!--Container-card-1-->

    <div class="Container-card-1">
        <div class="cards">
            <h3>ifantil</h3>
            <a href="carrinho.html">
                <img src="https://shopblob.blob.core.windows.net/1204-produtoimagem/zoom-sonorizacao+equipamentos.jpg">
            </a>
        </div><!--cards-->

        <div class="cards">
            <h3>bones</h3>
            <a href="carrinho.html">
                <img src="https://static.mundomax.com.br/produtos/81768/150/1.webp">
            </a>
        </div><!--cards-->
    </div><!--Container-card-1-->
</section>
<br>
<br>
<section class="cta">
    <div class="text-cta corOuro">
        <h6 class="corOuro">GARANTA SUA OFERTA DE FINAL DE ANO</h6>
        <h4>20% OFF<br>NA COMPRA DE 2 ROUPAS</h4>
        <a href="#" class="btn">alugue agora</a>
    </div><!--text-cta-->
</section><!--cta-->
<br>
<br>
<section>
    <h1>KIT EVENTO</h1>

    <div class="Container-roupas">
        <div class="equipamentos">
            <a href="carrinho.html">
                <img src="https://static.mundomax.com.br/produtos/81768/150/1.webp" alt="Promoção">
            </a>
            <p>Som para eventos apartir de:</p>
            <h5>R$ 250,00</h5>
            <!--<ion-icon name="cart-outline"></ion-icon>--->
        </div><!--roupa-->


        <div class="equipamentos">
            <img src="https://static.mundomax.com.br/produtos/82455/150/1.webp" alt="evento">
            <p>kit evento pequeno</p>
            <h5>R$250,00</h5>
            <!--<span><ion-icon name="cart-outline"></ion-icon></span>--->
        </div>

        <div class="equipamentos">
            <img src="https://static.mundomax.com.br/produtos/81768/150/1.webp" alt="kit palestra">
            <p>kit palestra</p>
            <h5>R$300,00</h5>
            <!--<ion-icon name="cart-outline"></ion-icon>--->
        </div>

        <div class="equipamentos">
            <img src="https://shopblob.blob.core.windows.net/1204-produtoimagem/zoom-sonorizacao+equipamentos.jpg" alt="kit casamento">
            <p>kit casamento</p>
            <!--<h5>R$400</h5><ion-icon name="cart-outline"></ion-icon>--->
        </div><!--item-->
    </div><!--container--->
</section>

<br>
<div class="Marcas">
    <img src="imagens/anucio/shure.avif" alt="Shure">
    <img src="imagens/anucio/Logo-Yamaha.webp" alt="Yamaha">
    <a href="https://pag.ae/7Z_Wwjupv" >
    <img src="https://static.mundomax.com.br/produtos/81768/150/1.webp" alt="Staley">
    </a>
        <a>
    <img src="https://static.mundomax.com.br/produtos/81768/150/1.webp" alt="canon">
    </a>
    <img src="https://static.mundomax.com.br/produtos/81768/150/1.webp" alt="apple">
    <img src="https://static.mundomax.com.br/produtos/81768/150/1.webp" alt="Marca">
</div><!--Marcas-->

<script src="https://unpkg.com/scrollreveal"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="js/script.js"></script>