<br>
<app-slide></app-slide>
<br>
<div class="body_claro medidasFundo">
    <p> 
        Bem-vindo à nossa incrível hamburgueria, o destino definitivo para os amantes de hambúrgueres na região! Aqui, na "Sabor Burguers", nossa missão é proporcionar uma experiência gastronômica única, onde a qualidade e a diversidade se unem para criar momentos inesquecíveis.
    </p>
</div>
<br>
<br>
<br>
<app-hamburguer></app-hamburguer>
<br>
<div class="body_claro medidasFundo">
    <p> 
        Nossa variedade de hambúrgueres é verdadeiramente excepcional, desde clássicos suculentos até 
        criações exclusivas que desafiam os limites do sabor. Cada hambúrguer é cuidadosamente preparado
         com ingredientes frescos e de alta qualidade, garantindo uma explosão de sabores em cada mordida.
   </p>
   <br>
   <p> 
        Mas não paramos por aí! Na "Sabor Burguers", entendemos a importância da diversidade de opções. Nossa extensa carta de sucos e refrigerantes complementa perfeitamente a experiência, oferecendo uma gama de escolhas refrescantes para acompanhar o seu hambúrguer favorito. Desde sucos naturais até opções mais exóticas, há algo para todos os gostos.
    </p>
    <br>
    <br>
    <picture>
        <source media="(max-width: 800px)" srcset="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/Hamb%C3%BArguer-de-Carne-Bovina.jpg?raw=true">
        <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/glp-para-hamburgueria.jpeg?raw=true" alt="teste" width="99%">
    </picture>
    <br>
    <br>
    <p> 
        Nosso espaço é acolhedor e descontraído, ideal para encontros com amigos, família ou mesmo para uma refeição rápida e deliciosa. A equipe atenciosa e apaixonada está sempre pronta para garantir que sua visita seja memorável, desde o momento em que você faz o pedido até a última mordida.
    </p>
    <br>
    <br>
    <picture>
        <source media="(max-width: 800px)" srcset="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/SUPER_OFERTA.gif?raw=true">
        <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/como-montar-hamburgueria-gourmet.jpg?raw=true" alt="teste" width="99%">
    </picture>
</div>
<br>
    
    <app-batata></app-batata>
 <br>
<div class="body_claro medidasFundo">
    <picture>
        <source media="(max-width: 800px)" srcset="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/cheeseburger-gourmet-grelhado-na-mesa-de-madeira-rustica-pronto-para-comer-gerado-por-ia_188544-55767.avif">
        <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/dois%20hamburguer.webp" alt="teste" width="99%">
    </picture>
    <p> 
        Na "Sabor Burguers", acreditamos que um bom hambúrguer vai além de simplesmente matar a fome; é uma celebração do paladar, uma experiência que desperta os sentidos. Venha nos visitar e descubra por que somos reconhecidos como a melhor hamburgueria da região. Estamos ansiosos para recebê-lo em nossa casa, onde cada hambúrguer conta uma história de sabor e paixão pela culinária!
   </p>
</div>
<br>