<div class="body_claro">
<aside>
    <!-- Conteúdo adicional, como barras laterais ou informações complementares -->
    <h2 class="text_center h1_white">Batata Frita</h2>
</aside>
<br>
<div class="teste_body">
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/potato_fries.png?raw=true" alt="batata">
                batata pequena<abbr class="mostrar" title="batata frita">R$ 4,99 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/crispy-and-delicious-french-fries-free-png.webp" alt="batata">
                batata media<abbr class="mostrar" title="batata frita">R$ 9,99 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/batata-frita.webp" alt="batata">
                batata grande<abbr class="mostrar" title="batata frita">R$ 14,99 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/batatas-fritas-comida-almoco-gordura-levar-batatas-fritas-fast-food_488220-21430.avif" alt="batata">
                batata mega<abbr class="mostrar" title="batata frita">R$ 19,99 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/315-3156140_poro-de-isca-de-peixe-com-batata-frita.png?raw=true" alt="batata">
                batata com camarrão<abbr class="mostrar" title="batata frita">R$ 25,99 </abbr>
            </span>
        </a>
    </div>
</div>
<br>
<div class="teste_body">
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/potato_fries.png?raw=true" alt="batata">
                batata pequena<abbr class="mostrar" title="batata frita">R$ 4,99 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/crispy-and-delicious-french-fries-free-png.webp" alt="batata">
                batata media<abbr class="mostrar" title="batata frita">R$ 9,99 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/batata-frita.webp" alt="batata">
                batata grande<abbr class="mostrar" title="batata frita">R$ 14,99 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/batatas-fritas-comida-almoco-gordura-levar-batatas-fritas-fast-food_488220-21430.avif" alt="batata">
                batata mega<abbr class="mostrar" title="batata frita">R$ 19,99 </abbr>
            </span>
        </a>
    </div>
    <div class="teste">
        <a routerLink="selectBurg">
            <span class="legenda passar_mouse">
                <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/315-3156140_poro-de-isca-de-peixe-com-batata-frita.png?raw=true" alt="batata">
                batata com camarrão<abbr class="mostrar" title="batata frita">R$ 25,99 </abbr>
            </span>
        </a>
    </div>
</div>
<br>
<br>
</div>