<br>
<br>
<div class="section">
    <!-- Conteúdo de uma seção específica -->
    <div class="body_claro medidasFundo">
        <h2 class="text_center h1_black">Quem somos nós?</h2>
        <a name="prosala"></a>
        <br><br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Somos mais do que apenas uma hamburgueria; somos criadores de experiências gastronômicas memoráveis. 
            Nossa identidade vai além dos hambúrgueres suculentos e da diversidade de sucos e refrigerantes. 
            Nós somos a essência de um compromisso inabalável com a qualidade, a criatividade e o prazer de servir.
        </p>
        <br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Somos apaixonados por cada detalhe, desde a escolha dos ingredientes frescos até a apresentação impecável em cada prato.
             Somos chefs que transformam cada hambúrguer em uma obra-prima culinária, 
             explorando sabores únicos e combinações ousadas para surpreender o paladar.
        </p>
        <br>
        <picture>
            <source media="(max-width: 800px)" srcset="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/ZF6F.gif?raw=true">
            <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/foto-seletiva-de-chefs-preparando-sanduiches-na-cozinha-do-cafe_181624-60181.jpg?raw=true" alt="teste" width="100%">
        </picture>
        <br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Somos anfitriões dedicados, prontos para receber você em nosso espaço acolhedor.
             Nosso objetivo é criar um ambiente onde cada cliente se sinta em casa,
              onde as conversas fluam naturalmente e as risadas sejam a trilha sonora das refeições compartilhadas.
        </p>
        <br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Somos uma equipe comprometida com a excelência no atendimento, sempre dispostos a superar as expectativas.
             Queremos que cada visita à 'Sabor Burguers' seja uma experiência deliciosa e memorável, 
             um momento em que você descobre novos sabores e se apaixona pela combinação perfeita de ingredientes
        </p>
        <br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Então, quem somos nós? Somos mais do que uma hamburgueria; somos um convite para explorar o mundo dos sabores,
             um refúgio para os amantes da boa comida e um lugar onde a paixão pela culinária se
              encontra com a alegria de compartilhar momentos especiais. Venha nos conhecer e descubra 
              por si mesmo quem somos nós na 'Sabor Burguers'."
        </p>
        <br>
    </div>
    <br>
    <app-slide></app-slide>
    <br>
    <div class="body_claro medidasFundo">
        <h2 class="text_center h1_black">Quem somos nós?</h2>
        <a name="prosala"></a>
        <br><br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Você está com fome e quer comer algo delicioso, mas não sabe onde ir? Então, você precisa conhecer a Hamburgueria 2023, a melhor da região com diversidade de hambúrgueres sucos e refrigerantes. Neste texto, eu vou te contar por que a Hamburgueria 2023 é a sua melhor opção para matar a sua fome e satisfazer o seu paladar.
        </p>
        <br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            A Hamburgueria 2023 é um estabelecimento que oferece uma variedade de hambúrgueres artesanais, feitos com ingredientes frescos e de qualidade. Você pode escolher entre os sabores tradicionais, como o cheeseburger, o x-bacon e o x-salada, ou os especiais, como o burger de picanha, o burger de frango crocante e o burger vegetariano. Todos os hambúrgueres são servidos com pão macio e crocante, alface, tomate, cebola, queijo e molhos deliciosos. Você também pode personalizar o seu hambúrguer, adicionando ou retirando os ingredientes que você quiser.
        </p>
        <br>
        <picture>
            <source media="(max-width: 800px)" srcset="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/como-montar-uma-cozinha-de-hamburgueria.jpg?raw=true">
            <img src="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/como-montar-uma-cozinha-de-hamburgueria.jpg?raw=true" alt="teste" width="100%">
        </picture>
        <br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Para acompanhar o seu hambúrguer, você pode escolher entre os sucos naturais, feitos na hora com frutas da estação, ou os refrigerantes, que são gelados e refrescantes. Os sucos são uma ótima opção para quem quer uma bebida saudável e saborosa, enquanto os refrigerantes são ideais para quem quer uma bebida doce e gaseificada. Você pode pedir o seu suco ou refrigerante no copo ou na jarra, para dividir com os seus amigos ou familiares.
        </p>
        <br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            A Hamburgueria 2023 tem um ambiente aconchegante e moderno, com uma decoração inspirada na cultura pop e na música. Você pode se sentar nas mesas ou nos sofás, e aproveitar o som ambiente, que toca os sucessos do momento. O atendimento é rápido e cordial, e os funcionários estão sempre prontos para te atender da melhor forma possível. A Hamburgueria 2023 também tem um serviço de delivery, que entrega os seus pedidos em casa ou no trabalho, com rapidez e segurança.
        </p>
        <br>
        <picture>
            <source media="(max-width: 800px)" srcset="https://github.com/Isaiasiv/imagens.angular.web1/blob/main/ZF6F.gif?raw=true">
            <img src="https://raw.githubusercontent.com/Isaiasiv/imagens.angular.web1/main/cheeseburger-gourmet-grelhado-na-mesa-de-madeira-rustica-pronto-para-comer-gerado-por-ia_188544-55767.avif" alt="teste" width="100%">
        </picture>
        <br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Se você ficou com água na boca, não perca tempo e venha conhecer a Hamburgueria 2023, a melhor da região com diversidade de hambúrgueres sucos e refrigerantes. Você vai se surpreender com a qualidade e o sabor dos nossos produtos, e vai querer voltar sempre. A Hamburgueria 2023 está aberta todos os dias, das 11h às 23h, e fica na Rua 13 de Maio, nº 2023, no centro de Catalão. Esperamos por você! 😊
        </p>
        <br>
    </div>
    <br>